{% extends 'base.html.twig' %}

{% block title %}Le salon K - RDV{% endblock %}

{% block body %}
    {% include('header.html.twig') %}

    <!-- Pricing section-->
    <section class="bg-light py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">NOS SERVICES</h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <!-- Pricing card free-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold text-muted">Coupe Homme</div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold"> 10€</span>
                                <span class="text-muted">/ à partir </span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    <p>
                                        Nous proposons des coupes de cheveux pour hommes de tous âges et de tous styles,
                                        des coupes classiques aux coupes modernes et tendance.<br>
                                        Nos coiffeurs professionnels vous aideront à trouver la coupe de cheveux qui
                                        vous convient le mieux. <br>
                                        Prix : à partir de 10€.
                                    </p>
                                </li>
                                <li class="mb-2">
                                    <strong>L'Essentiel :</strong> Une coupe simple, nette et précise pour un look
                                    soigné.<br>
                                    <strong>La Tendance :</strong> Une coupe tendance et personnalisée pour être à la
                                    pointe de la mode.<br>
                                    <strong>Le Rétro : </strong>Une coupe inspirée des années 50-60 pour un style
                                    vintage assumé.<br>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Pricing card pro-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold">
                                <i class="bi bi-star-fill text-warning"></i>
                                Rasage Barbe
                            </div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold"> 6 €</span>
                                <span class="text-muted">/ à partir </span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    <p>
                                        Nous proposons également des rasages de barbe pour les hommes,
                                        qu'il s'agisse d'un simple rasage ou d'un rasage complet.<br>
                                        Nos coiffeurs expérimentés vous offriront une expérience de rasage de qualité
                                        supérieure,
                                        qui vous laissera frais et détendu. <br>
                                        Prix : à partir de 6€.
                                    </p>
                                </li>
                                <li class="mb-2">
                                    <strong>Le Classique :</strong> Un rasage traditionnel à l'ancienne avec une lame de
                                    rasoir pour un résultat impeccable.<br>
                                    <strong> Le Confort : </strong>Un rasage doux et apaisant avec des produits de soin
                                    de qualité pour une barbe douce et hydratée.<br>
                                    <strong> L'Intégral : </strong> Un rasage complet de la barbe et des contours pour
                                    une peau nette et sans poils.</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Pricing card enterprise-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold text-muted">Coloration Cheveux</div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold"> 25 €</span>
                                <span class="text-muted">/ à partir </span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    Nous proposons une variété de colorations de cheveux pour les hommes,
                                    qu'il s'agisse de couvrir les cheveux gris ou de changer complètement de couleur.
                                    <br>
                                    Nos coiffeurs experts vous aideront à trouver la couleur de cheveux qui vous
                                    convient le mieux et vous
                                    donneront des conseils pour l'entretien de vos cheveux colorés. <br>

                                    Prix : à partir de 25€.
                                </li>
                                <li class="mb-2">
                                    <strong>Le Naturel :</strong>Une coloration subtile pour un résultat naturel et
                                    discret.<br>
                                    <strong>L'Original :</strong> Une coloration audacieuse pour ceux qui osent affirmer
                                    leur style.
                                </li>
                                <strong>Le Camouflage :</strong> Une coloration pour dissimuler les cheveux blancs et
                                retrouver une couleur uniforme.
                            </ul>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include('footer.html.twig') %}
{% endblock %}

