{% extends 'base.html.twig' %}

{% block title %}Le salon K - RDV{% endblock %}

{% block body %}
    {% include('header.html.twig') %}

    <!-- Section des tarifs -->
    <section class="bg-white text-dark py-5" id="pricing">
        <div class="container">
            <h2 class="text-center mb-5">Tarifs</h2>
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title text-primary">$34+</h4>
                            <h4 class="card-subtitle mb-2">Coupe de cheveux régulière</h4>
                            <hr class="my-4">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
                                maximus erat, et bibendum leo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title text-primary">$35+</h4>
                            <h4 class="card-subtitle mb-2">Rasage royal</h4>
                            <hr class="my-4">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
                                maximus erat, et bibendum leo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title text-primary">$60+</h4>
                            <h4 class="card-subtitle mb-2">Coupe de cheveux + Rasage royal</h4>
                            <hr class="my-4">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
                                maximus erat, et bibendum leo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title text-primary">$65+</h4>
                            <h4 class="card-subtitle mb-2">Coupe de cheveux + Coupe de barbe</h4>
                            <hr class="my-4">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
                                maximus erat, et bibendum leo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title text-primary">$23+</h4>
                            <h4 class="card-subtitle mb-2">Coupe de barbe à la machine</h4>
                            <hr class="my-4">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
                                maximus erat, et bibendum leo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% include('footer.html.twig') %}
{% endblock %}

