{% block body %}
    <!-- footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Salon K 2023</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="{{ path('app_mentions') }}">Mentions Légales</a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}